<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBfst4arLmlG-i3JDTsFtQQYmfczTZ6uwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1077963337676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalProj</string>
	<key>PROJECT_ID</key>
	<string>final-proj-7e2f2</string>
	<key>STORAGE_BUCKET</key>
	<string>final-proj-7e2f2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1077963337676:ios:ab6e56b59b07b8936b7769</string>
</dict>
</plist>